<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Blazor.WebWorkers</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="PingPong">
                <svg class="bi" viewBox="0 0 16 16">
                    <circle stroke-width="0" fill="#FFFFFF" cx="12" cy="4" r="3"></circle>
                    <circle stroke-width="0" fill="#FFFFFF" cx="4" cy="12" r="3"></circle>
                    <path stroke="#FFFFFF" stroke-width="1" fill="none" d="M 3 8 C 3 5 5 3 8 3" stroke-linecap="round"></path>
                    <path stroke="#FFFFFF" stroke-width="1" fill="none" d="M 8 13 C 11 13 13 11 13 8" stroke-linecap="round"></path>
                </svg> Ping Pong
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
